{% load static %}

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand  text-white  d-none d-md-block" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        MY BLOGGING
      </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            </ul>
        </div>
    </div>
</nav>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}">
  <link rel="icon" type="image/png" href="{% static 'landingpage/assets/img/favicon.png' }%">
  <title>
    MY BLOGGING
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="{% static 'landingpage/assets/css/nucleo-icons.css' %}" rel="stylesheet" />
  <link href="{% static 'landingpage/assets/css/nucleo-svg.css' %}" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="{% static 'landingpage/assets/css/material-kit-pro.css' %}?v=3.0.0" rel="stylesheet" />
</head>

<body class="blog-posts bg-gray-200">

<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white  d-block d-md-none" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        Material Design
      </a>
      <a href="https://www.creative-tim.com/product/material-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  mb-0 ms-auto d-lg-none d-block">LOGIN</a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
        {% comment %} <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li> {% endcomment %}
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" role="button" id="dropdownMenuPages10" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
              Artikel
              {% comment %} <img src="{% static 'landingpage/assets/img/down-arrow-white.svg' %}" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
              <img src="{% static 'landingpage/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow d-lg-none d-block ms-auto"> {% endcomment %}
            </a>
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" role="button" id="dropdownMenuAccount" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="material-icons opacity-6 me-2 text-md">contacts</i>
              Galery
              {% comment %} <img src="{% static 'landingpage/assets/img/down-arrow-white.svg' %}" alt="down-arrow" class="arrow ms-2 d-lg-block d-none">
              <img src="{% static 'landingpage/assets/img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow d-lg-none d-block ms-auto"> {% endcomment %}
            </a>      
              <div class="row d-lg-none">
                <div class="col-md-12">
                  <div class="d-flex mb-2">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                      <div>
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Page Sections</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/hero-sections.html">
                    Page Headers
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/features.html">
                    Features
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/pricing.html">
                    Pricing
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/faq.html">
                    FAQ
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/blog-posts.html">
                    Blog Posts
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/testimonials.html">
                    Testimonials
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/teams.html">
                    Teams
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/stats.html">
                    Stats
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/call-to-actions.html">
                    Call to Actions
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/applications.html">
                    Applications
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/logo-areas.html">
                    Logo Areas
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/footers.html">
                    Footers
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/general-cards.html">
                    General Cards
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/page-sections/content-sections.html">
                    Content Sections
                  </a>
                  <div class="d-flex mb-2 mt-3">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                      <div>
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Navigation</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/navigation/navbars.html">
                    Navbars
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/navigation/nav-tabs.html">
                    Nav Tabs
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/navigation/pagination.html">
                    Pagination
                  </a>
                  <div class="d-flex mb-2 mt-3">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                      <div>
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Input Areas</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/input-areas/newsletters.html">
                    Newsletter
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/input-areas/contact-sections.html">
                    Contact Sections
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/input-areas/inputs.html">
                    Inputs
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/input-areas/forms.html">
                    Forms
                  </a>
                  <div class="d-flex mb-2 mt-3">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                      <div>
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Attention Catchers</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/attention-catchers/alerts.html">
                    Alerts
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/attention-catchers/notifications.html">
                    Notifications
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/attention-catchers/modals.html">
                    Modals
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/attention-catchers/tooltips-popovers.html">
                    Tooltips & Popovers
                  </a>
                  <div class="d-flex mb-2 mt-3">
                    <div class="w-100 d-flex align-items-center justify-content-between">
                      <div>
                        <h6 class="dropdown-header text-dark font-weight-bolder d-flex justify-content-cente align-items-center p-0">Elements</h6>
                      </div>
                    </div>
                  </div>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/avatars.html">
                    Avatars
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/badges.html">
                    Badges
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/breadcrumbs.html">
                    Breadcrumbs
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/buttons.html">
                    Buttons
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/button-groups.html">
                    Button Groups
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/dropdowns.html">
                    Dropdowns
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/progress-bars.html">
                    Progress Bars
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/social-buttons.html">
                    Social Buttons
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/tables.html">
                    Tables
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/toggles.html">
                    Toggles
                  </a>
                  <a class="dropdown-item ps-3 border-radius-md mb-1" href="../../sections/elements/typography.html">
                    Typography
                  </a>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">

            {% if user.is_authenticated  %}
                <a href="/dashboard" class="btn btn-sm bg-gradient-primary mb-0-me-1">dashboard</a>
              {% else %}
                 <a href="/auth-login" class="btn btn-sm bg-gradient-primary mb-0 me-1">login</a>
            {% endif %}

          </li>
        </ul>
      </div>
    </div>
  </nav>

  